.mainMenu {
  margin-left: 0;
  max-width: 48em;
}

.center {
  justify-content: center;
}

.dropdownContent {
  display: none;
  position: absolute;
  margin: 0;
  z-index: 1;
}

.hoverClass:hover .dropdownContent {
  display: block;
}

@media only screen and (max-width: 35.5em) {
  .dropdownContent {
    position: static;
  }
}
