.wrapper {
  justify-content: center;
  text-align: center;
}

.aboutContainer {
  max-width: 24rem;
  padding: 2em;
}

.name {
  font-family: "Libre-Baskerville", serif !important;
  font-size: 1.2em;
  letter-spacing: normal;
}

.description {
  font-family: "Libre-Baskerville-Italic", serif !important;
  font-size: 0.7em;
  line-height: normal;
  letter-spacing: 0.08em;
}

.aboutblurb {
  font-family: "Avenir-Light", Arial, Helvetica, sans-serif !important;
  font-size: 0.8em;
  line-height: 1.8em;
  letter-spacing: normal;
}

.avatar {
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
