@font-face {
  font-family: "Avenir-Heavy";
  src: url("./fonts/Avenir-LT-W01-85-Heavy.eot");
  src: url("./fonts/Avenir-LT-W01-85-Heavy.woff2") format("woff2"),
    url("./fonts/Avenir-LT-W01-85-Heavy.woff") format("woff"),
    url("./fonts/Avenir-LT-W01-85-Heavy.ttf") format("truetype"),
    url("./fonts/Avenir-LT-W01-85-Heavy.svg#Avenir-Heavy") format("svg"),
    url("./fonts/Avenir-LT-W01-85-Heavy.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Light";
  src: url("./fonts/Avenir-LT-W01-35-Light.eot");
  src: url("./fonts/Avenir-LT-W01-35-Light.woff2") format("woff2"),
    url("./fonts/Avenir-LT-W01-35-Light.woff") format("woff"),
    url("./fonts/Avenir-LT-W01-35-Light.ttf") format("truetype"),
    url("./fonts/Avenir-LT-W01-35-Light.svg#Avenir-Light") format("svg"),
    url("./fonts/Avenir-LT-W01-35-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

footer {
  font-family: Helvetica, sans-serif !important;
}
