.no-js {
  display: none;
  visibility: hidden;
  opacity: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: auto;
}

ul {
  padding: 0;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

img {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
}
